*.tlog
*.VC.db
*.user
*.log
*.obj
*.idb
*.pdb
*.lastbuildstate
*.ilk
*.pch
*.opendb
*.sdf
*.xml
*.aps
*.ncb
*.suo
*.htm
*.dep
*.exp
*.opt
*.sbr
*.bsc
*.plg
*.ldb
*.asp
*.bmp
*.lib
*.dll
**/Debug
**/Release
**/*.tlog
**/ipch
**/.vs
**/.vs/Example_Cpp
**/.vs/Example_Cpp/v14
**/bin
**/obj
**/Lib